<!DOCTYPE HTML>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>WebKIndex</title>

    <!-- Bootstrap core CSS --><!--
        <link href="resources/templates/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />-->

    <!-- CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="css/cover.css" rel="stylesheet" />-->
    <link href="css/starter-template.css" rel="stylesheet"/>

    <!-- Javascript -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</head>


<body data-pinterest-extension-installed="cr1.39.1">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WebKIndex</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="/">Home</a></li>
                <li ><a href="demo">Demo</a></li>
                <li ><a href="version">Version</a></li>
                <li class="active"><a href="/">Info</a></li>
                <li ><a href="help">Help</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1 class="cover-heading">Index information</h1>
        <div class="row">

            <div class = "col-xs-12" style="text-align:left;">
                <h3>Get passage by id:</h3>
                <form>
                    ID:
                    <input type='text' size="7" name="id" />
                    <p/>
                    Language:
                    <select name="lang">
                        <option value="en">English</option>
                        <option selected="selected" value="es">Spanish</option>
                        <option value="es_short">Spanish (short)</option>
                        <option value="de">German</option>
                    </select>
                    <p/>
                    Version:
                    <select name="indexVersion">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option selected="selected" value="9">9</option>
                    </select>
                    <p/>
                    Index type:
                    <select name="indexType">
                        <option value="OneSentence">One Sentence</option>
                        <option value="TwoSentences">Two Sentences</option>
                        <option value="ThreeSentences">Three Sentences</option>
                        <option value="Paragraph">Paragraph</option>
                        <option value="Document">Document</option>
                        <option selected="selected" value="AllSegmentation">All Segmentation</option>
                    </select>
                    <p/>
                    <input type='button' value="Submit" onclick="location.href='getpassagebyid?id=' + this.form.id.value
                    + '&amp;language=' + this.form.lang.value + '&amp;version=' + this.form.indexVersion.value
                    + '&amp;index=' + this.form.indexType.value" />
                </form>
                <hr/>
                <h3>Get index stats:</h3>
                <form>
                    Language:
                    <select name="lang">
                        <option value="en">English</option>
                        <option selected="selected" value="es">Spanish</option>
                        <option value="es_short">Spanish (short)</option>
                        <option value="de">German</option>
                    </select>
                    <p/>
                    Version:
                    <select name="indexVersion">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option selected="selected" value="9">9</option>
                    </select>
                    <p/>
                    <input type='button' value="Submit" onclick="location.href='getindexstats?language=' + this.form.lang.value
                    + '&amp;version=' + this.form.indexVersion.value" />
                </form>
                <hr/>
                <h3>Get available passage retrieval versions info</h3>
                <input type='button' value="Get versions" onclick="location.href='getprversions'" />
                <hr/>
                <h3>Get scraped urls</h3>
                <form>
                    Language:
                    <select name="lang">
                        <option value="en">English</option>
                        <option selected="selected" value="es">Spanish</option>
                        <option value="es_short">Spanish (short)</option>
                        <option value="de">German</option>
                    </select>
                    <p/>
                    Version:
                    <select name="indexVersion">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option selected="selected" value="9">9</option>
                    </select>
                    <p/>
                    <input type='button' value="Submit" onclick="location.href='getScrapedUrls?language=' + this.form.lang.value
                    + '&amp;version=' + this.form.indexVersion.value" />
                </form>
                <hr/>
                <h3>Get scraped content</h3>
                <form>
                    URL:
                    <input type='text' size="35" name="urlbox" />
                    <p/>
                    Language:
                    <select name="lang">
                        <option value="en">English</option>
                        <option selected="selected" value="es">Spanish</option>
                        <option value="es_short">Spanish (short)</option>
                        <option value="de">German</option>
                    </select>
                    <p/>
                    Version:
                    <select name="indexVersion">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option selected="selected" value="9">9</option>
                    </select>
                    <p/>
                    <input type='button' value="Submit" onclick="location.href='getScrapedContentFromUrl?url=' + this.form.urlbox.value +
                    '&amp;language=' + this.form.lang.value + '&amp;version=' + this.form.indexVersion.value" />
                </form>
            </div>
        </div>


    </div>


</div>


<footer class="footer">
    <div class="container">
        <p>WebKIndex developed @ <a href="http://www.iti.gr">ITI</a> / <a href="http://www.certh.gr">CERTH </a></p>
        <p> Contact: <a href="mailto:spyridons@iti.gr">spyridons@iti.gr</a></p>
    </div>
</footer>
</body>
</html>