<!DOCTYPE HTML>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>WebKIndex</title>

    <!-- Bootstrap core CSS --><!--
        <link href="resources/templates/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />-->

    <!-- CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="css/cover.css" rel="stylesheet" />-->
    <link href="css/starter-template.css" rel="stylesheet"/>

    <!-- Javascript -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</head>


<body data-pinterest-extension-installed="cr1.39.1">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WebKIndex</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="/">Home</a></li>
                <li ><a href="demo">Demo</a></li>
                <li ><a href="version">Version</a></li>
                <li ><a href="info">Info</a></li>
                <li ><a href="help">Help</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1 class="cover-heading">Query Input</h1>
        <div class="row">

            <div class = "col-xs-12" style="text-align:left;">
                <h3>Select a query from the following list (Spanish):</h3>
                <ul >
                    <!--<li>Available QueryObject Sources: website, twiter, forum, pdf</li>-->
                    Question 1:
                    <li><a href="passagetable?query=¿ Cada cuánto debo bañar a mi bebé ?&amp;language=es&amp;version=8.3" style="background-color:yellow;">¿ Cada cuánto debo bañar a mi bebé ?</a></li>
                    <li><a href="passagetable?query=Me estaba preguntando cada cuánto tendré que bañar a mi bebé...&amp;language=es&amp;version=8.3">Me estaba preguntando cada cuánto tendré que bañar a mi bebé...</a></li>
                    <li><a href="passagetable?query=¿Con qué frecuencia tendré que bañar a mi bebé?&amp;language=es&amp;version=8.3">¿Con qué frecuencia tendré que bañar a mi bebé?</a></li>
                    <li><a href="passagetable?query=¿Cada cuántos días debo bañar a mi hijo?&amp;language=es&amp;version=8.3">¿Cada cuántos días debo bañar a mi hijo?</a></li>
                    Question 2:
                    <li><a href="passagetable?query=¿Y como puedo controlar la temperatura del agua para bañar a mi bebé?&amp;language=es&amp;version=8.3" style="background-color:yellow;">¿Y como puedo controlar la temperatura del agua para bañar a mi bebé?</a></li>
                    <li><a href="passagetable?query=¿Cómo puedo comprobar la temperatura del agua?&amp;language=es&amp;version=8.3">¿Cómo puedo comprobar la temperatura del agua?</a></li>
                    <li><a href="passagetable?query=¿De qué manera podría comprobar la temperatura del agua?&amp;language=es&amp;version=8.3">¿De qué manera podría comprobar la temperatura del agua?</a></li>
                    <li><a href="passagetable?query=¿Cómo sabré si el agua está a una temperatura correcta?&amp;language=es&amp;version=8.3">¿Cómo sabré si el agua está a una temperatura correcta?</a></li>
                    Question 3:
                    <li><a href="passagetable?query=¿Cuál es la temperatura correcta para poder bañar a mi bebé?&amp;language=es&amp;version=8.3">¿Cuál es la temperatura correcta para poder bañar a mi bebé?</a></li>
                    <li><a href="passagetable?query=No sé cuál es la temperatura correcta del agua para bañar al bebé&amp;language=es&amp;version=8.3" style="background-color:yellow;">No sé cuál es la temperatura correcta del agua para bañar al bebé</a></li>
                    Question 4:
                    <li><a href="passagetable?query=Necesito información sobre la habitación de mi bebé&amp;language=es&amp;version=8.3" style="background-color:yellow;">Necesito información sobre la habitación de mi bebé</a></li>
                    <li><a href="passagetable?query=¿Podrías facilitarme información sobre la habitación de mi bebé?&amp;language=es&amp;version=8.3">¿Podrías facilitarme información sobre la habitación de mi bebé?</a></li>
                    Question 5:
                    <li><a href="passagetable?query=¿ Y en qué posición debe dormir mi bebé ?&amp;language=es&amp;version=8.3" style="background-color:yellow;">¿ Y en qué posición debe dormir mi bebé ?</a></li>
                    <li><a href="passagetable?query=¿Cuál debería ser la posición del bebé para dormir?&amp;language=es&amp;version=8.3">¿Cuál debería ser la posición del bebé para dormir?</a></li>
                    Question 6:
                    <li><a href="passagetable?query=¿Cuál es el tratamiento aconsejable para mi dolor de espalda?&amp;language=es&amp;version=8.3" style="background-color:yellow;">¿Cuál es el tratamiento aconsejable para mi dolor de espalda?</a></li>
                    <li><a href="passagetable?query=¿Qué puedo hacer para mi dolor de espalda? ¿Existe algún tratamiento específico?&amp;language=es&amp;version=8.3">¿Qué puedo hacer para mi dolor de espalda? ¿Existe algún tratamiento específico?</a></li>
                    Question 7:
                    <li><a href="passagetable?query=Me gustaría saber cuál es la causa del dolor de espalda&amp;language=es&amp;version=8.3">Me gustaría saber cuál es la causa del dolor de espalda</a></li>
                    <li><a href="passagetable?query=¿Cuál puede ser la razón de mi dolor de espalda?&amp;language=es&amp;version=8.3">¿Cuál puede ser la razón de mi dolor de espalda?</a></li>
                    <li><a href="passagetable?query=¿Qué puede ser la causa del dolor de espalda?&amp;language=es&amp;version=8.3">¿Qué puede ser la causa del dolor de espalda?</a></li>
                    <li><a href="passagetable?query=¿Cuál es la razón del dolor de la espalda?&amp;language=es&amp;version=8.3" style="background-color:yellow;">¿Cuál es la razón del dolor de la espalda?</a></li>
                    <li><a href="passagetable?query=¿Cuál podría ser la razón del dolor de la espalda?&amp;language=es&amp;version=8.3" style="background-color:yellow;">¿Cuál podría ser la razón del dolor de la espalda?</a></li>
                    Question 8:
                    <li><a href="passagetable?query=¿Podrías, por favor, explicarme qué es la ciática?&amp;language=es&amp;version=8.3">¿Podrías, por favor, explicarme qué es la ciática?</a></li>
                    <li><a href="passagetable?query=He oído hablar de ciática. ¿Qué es?&amp;language=es&amp;version=8.3">He oído hablar de ciática. ¿Qué es?</a></li>
                    <li><a href="passagetable?query=¿Podrías informarme sobre la ciática?&amp;language=es&amp;version=8.3">¿Podrías informarme sobre la ciática?</a></li>
                    <li><a href="passagetable?query=¿Me podrías dar información sobre la ciática?&amp;language=es&amp;version=8.3" style="background-color:yellow;">¿Me podrías dar información sobre la ciática?</a></li>
                    Question 9:
                    <li><a href="passagetable?query=¿Y qué me puedes decir sobre el polvo pour la habitación de mi bebé?&amp;language=es&amp;version=8.3" style="background-color:yellow;">¿Y qué me puedes decir sobre el polvo pour la habitación de mi bebé?</a></li>
                </ul>
                <h3>Or type a query in the following text box:</h3>
                <form>
                    Text:
                    <input type='text' size="35" name="querybox" />
                    <p/>
                    Language:
                    <select name="lang">
                        <option value="en">English</option>
                        <option selected="selected" value="es">Spanish</option>
                        <option value="es_short">Spanish (short)</option>
                        <option value="de">German</option>
                    </select>
                    <p/>
                    Version:
                    <select name="indexVersion">
                        <option value="0.0">0.0</option>
                        <option value="1.0">1.0</option>
                        <option value="2.0">2.0</option>
                        <option value="2.1">2.1</option>
                        <option value="3.0">3.0</option>
                        <option value="4.1">4.1</option>
                        <option value="4.2">4.2</option>
                        <option value="4.3">4.3</option>
                        <option value="5.1">5.1</option>
                        <option value="5.2">5.2</option>
                        <option value="6.1">6.1</option>
                        <option value="6.2">6.2</option>
                        <option value="6.3">6.3</option>
                        <option value="6.4">6.4</option>
                        <option value="7.0">7.0</option>
                        <option value="7.1">7.1</option>
                        <option value="7.2">7.2</option>
                        <option value="7.3">7.3</option>
                        <option value="7.4">7.4</option>
                        <option value="8.0">8.0</option>
                        <option value="8.1">8.1</option>
                        <option value="8.2">8.2</option>
                        <option selected="selected" value="8.3">8.3</option>
                        <option value="8.4">8.4</option>
                        <option value="9.0">9.0</option>
                        <option value="9.1">9.1</option>
                        <option value="9.2">9.2</option>
                        <option value="9.3">9.3</option>
                        <option value="9.4">9.4</option>
                    </select>
                    <p/>
                    <input type='button' value="Submit" onclick="location.href='passagetable?query=' + this.form.querybox.value
                    + '&amp;language=' + this.form.lang.value + '&amp;version=' + this.form.indexVersion.value" />
                </form>
            </div>
        </div>


    </div>

</div>


<footer class="footer">
    <div class="container">
        <p>WebKIndex developed @ <a href="http://www.iti.gr">ITI</a> / <a href="http://www.certh.gr">CERTH </a></p>
        <p> Contact: <a href="mailto:spyridons@iti.gr">spyridons@iti.gr</a></p>
    </div>
</footer>
</body>
</html>