<!DOCTYPE HTML>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>WebKIndex</title>

    <!-- Bootstrap core CSS --><!--
        <link href="resources/templates/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />-->

    <!-- CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="css/cover.css" rel="stylesheet" />-->
    <link href="css/starter-template.css" rel="stylesheet"/>

    <!-- Javascript -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</head>


<body data-pinterest-extension-installed="cr1.39.1">

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0070BB">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="http://kristina-project.eu/en/" style="margin: 0; padding: 0" class="navbar-brand2"><img src="images/kristina_logo.png" /></a></li>
                <li><a class="navbar-brand2" style="line-height: 70px;" href="/query2ndProto">KRISTINA IR</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://mklab.iti.gr/" style="margin: 0; padding: 0" class="navbar-brand2"><img src="images/ITI logo_01_low.jpg" style="height:90%;margin-top: 5px;"/></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1 class="cover-heading">KRISTINA IR - Question Answering service (2nd prototype demo)</h1>
        <div class="row">

            <div class = "col-xs-12" style="text-align:left;">
                <h3>Select a query from the following list (Spanish):</h3>
                <h4>UC2:</h4>
                <ul >
                    Question 1
                    <li><a href="passagetable?query=¿Debería controlarse el peso y el crecimiento del bebé?&amp;language=es&amp;version=9.3" >¿Debería controlarse el peso y el crecimiento del bebé?</a></li>
                    <li><a href="passagetable?query=﻿¿Es importante controlar el peso del bebé y su desarrollo fisico durante el primer año?&amp;language=es&amp;version=9.3" >﻿¿Es importante controlar el peso del bebé y su desarrollo fisico durante el primer año?</a></li>
                    <li><a href="passagetable?query=¿El niño debería ser medido y pesado durante el primer año?&amp;language=es&amp;version=9.3">¿El niño debería ser medido y pesado durante el primer año?</a></li>
                    <li><a href="passagetable?query=¿Es importante controlar el peso del bebé y cuanto mide?&amp;language=es&amp;version=9.3">¿Es importante controlar el peso del bebé y cuanto mide?</a></li>
                    <li><a href="passagetable?query=¿Es necerio ir controlando el peso y la medida de mi bebé?&amp;language=es&amp;version=9.3">¿Es necerio ir controlando el peso y la medida de mi bebé?</a></li>
                    Question 2
                    <li><a href="passagetable?query=¿Cuáles son los factores que determinan el peso y el tamaño de mi bebé?&amp;language=es&amp;version=9.3" >¿Cuáles son los factores que determinan el peso y el tamaño de mi bebé?</a></li>
                    <li><a href="passagetable?query=¿Qué es lo que dermina el peso y el tamaño de un bebé recién nacido?&amp;language=es&amp;version=9.3">¿Qué es lo que dermina el peso y el tamaño de un bebé recién nacido?</a></li>
                    <li><a href="passagetable?query=¿Qué es lo que dermina el peso y la talla de un bebé recién nacido?&amp;language=es&amp;version=9.3" >¿Qué es lo que dermina el peso y la talla de un bebé recién nacido?</a></li>
                    <li><a href="passagetable?query=¿De qué depende el peso y la talla de un bebé recién nacido?&amp;language=es&amp;version=9.3">¿De qué depende el peso y la talla de un bebé recién nacido?</a></li>
                    <li><a href="passagetable?query=¿Influye la costitución física de los padres en la talla del bebé?&amp;language=es&amp;version=9.3">¿Influye la costitución física de los padres en la talla del bebé?</a></li>
                    Question 3
                    <li><a href="passagetable?query=¿Cual es la alimentación recomendada para los niños durante los 6 primeros meses de vida?&amp;language=es&amp;version=9.3" >¿Cual es la alimentación recomendada para los niños durante los 6 primeros meses de vida?</a></li>
                    <li><a href="passagetable?query=¿Cual es la alimentación recomendada para los bebés durante los 6 primeros meses de vida?&amp;language=es&amp;version=9.3">¿Cual es la alimentación recomendada para los bebés durante los 6 primeros meses de vida?</a></li>
                    <li><a href="passagetable?query=¿Cuál es la comida recomendada para los niños durante los 6 primeros meses de vida?&amp;language=es&amp;version=9.3">¿Cuál es la comida recomendada para los niños durante los 6 primeros meses de vida?</a></li>
                    <li><a href="passagetable?query=¿Cuál es la comida recomendada para los bebés durante los 6 primeros meses de vida?&amp;language=es&amp;version=9.3">¿Cuál es la comida recomendada para los bebés durante los 6 primeros meses de vida?</a></li>
                    <li><a href="passagetable?query=¿Cuál es el alimento recomendado para los niños durante los 6 primeros meses de vida?&amp;language=es&amp;version=9.3">¿Cuál es el alimento recomendado para los niños durante los 6 primeros meses de vida?</a></li>
                    <li><a href="passagetable?query=¿Cuál es el alimento recomendado para los bebés durante los 6 primeros meses de vida?&amp;language=es&amp;version=9.3">¿Cuál es el alimento recomendado para los bebés durante los 6 primeros meses de vida?</a></li>
                    Question 4
                    <li><a href="passagetable?query=¿Cuáles son los beneficios de la leche materna?&amp;language=es&amp;version=9.3" >¿Cuáles son los beneficios de la leche materna?</a></li>
                    <li><a href="passagetable?query=¿Cuáles son los beneficios de la lactancia?&amp;language=es&amp;version=9.3">¿Cuáles son los beneficios de la lactancia?</a></li>
                    <li><a href="passagetable?query=¿La leche materna tiene suficientes nutrientes?&amp;language=es&amp;version=9.3">¿La leche materna tiene suficientes nutrientes?</a></li>
                    <li><a href="passagetable?query=¿Qué beneficios tiene la lactancia?&amp;language=es&amp;version=9.3" >¿Qué beneficios tiene la lactancia?</a></li>
                    <li><a href="passagetable?query=¿Cuáles son los beneficios de la lactancia materna?&amp;language=es&amp;version=9.3">¿Cuáles son los beneficios de la lactancia materna?</a></li>
                    Question 5
                    <li><a href="passagetable?query=¿A partir de cuando debería introducir más alimentos?&amp;language=es&amp;version=9.3" >¿A partir de cuando debería introducir más alimentos?</a></li>
                    <li><a href="passagetable?query=¿Durante cuánto tiempo se recomienda la lactancia materna?&amp;language=es&amp;version=9.3">¿Durante cuánto tiempo se recomienda la lactancia materna?</a></li>
                    <li><a href="passagetable?query=¿Durante cuántos meses se recomienda la lactancia materna?&amp;language=es&amp;version=9.3">¿Durante cuántos meses se recomienda la lactancia materna?</a></li>
                    <li><a href="passagetable?query=¿Durante cuántos meses se aconseja la lactancia materna?&amp;language=es&amp;version=9.3">¿Durante cuántos meses se aconseja la lactancia materna?</a></li>
                    <li><a href="passagetable?query=¿Durante cuántos años se aconseja la lactancia materna?&amp;language=es&amp;version=9.3">¿Durante cuántos años se aconseja la lactancia materna?</a></li>
                    <li><a href="passagetable?query=¿Durante cuántos años se recomienda la lactancia materna?&amp;language=es&amp;version=9.3">¿Durante cuántos años se recomienda la lactancia materna?</a></li>
                    <li><a href="passagetable?query=¿La lactancia materna se recomienda exclusivamente?&amp;language=es&amp;version=9.3">¿La lactancia materna se recomienda exclusivamente?</a></li>
                    <li><a href="passagetable?query=¿Es recomendable la lactancia materna de manera  exclusiva?&amp;language=es&amp;version=9.3">¿Es recomendable la lactancia materna de manera  exclusiva?</a></li>
                    <li><a href="passagetable?query=¿Es recomendable usar exclusivamente la lactancia materna para alimentar al bebe?&amp;language=es&amp;version=9.3">¿Es recomendable usar exclusivamente la lactancia materna para alimentar al bebe?</a></li>
                    <li><a href="passagetable?query=¿A partir de cuando debería introducir comida complemtaria?&amp;language=es&amp;version=9.3">¿A partir de cuando debería introducir comida complemtaria?</a></li>
                    <li><a href="passagetable?query=¿A partir de cuando debería introducir otro tipo de comida?&amp;language=es&amp;version=9.3">¿A partir de cuando debería introducir otro tipo de comida?</a></li>
                    <li><a href="passagetable?query=¿Cuando debo introducir alimentos complementarios?&amp;language=es&amp;version=9.3" >¿Cuando debo introducir alimentos complementarios?</a></li>
                    <li><a href="passagetable?query=¿Cuando debo introducir alimentos complementarios aparte de la lactancia materna?&amp;language=es&amp;version=9.3">¿Cuando debo introducir alimentos complementarios aparte de la lactancia materna?</a></li>
                    Question 6
                    <li><a href="passagetable?query=¿Cuál es el peso aconsejado para un bebé recién nacido?&amp;language=es&amp;version=9.3">¿Cuál es el peso aconsejado para un bebé recién nacido?</a></li>
                    <li><a href="passagetable?query=¿Cuando se considera que el bebé tiene bajo peso?&amp;language=es&amp;version=9.3" >¿Cuando se considera que el bebé tiene bajo peso?</a></li>
                    <li><a href="passagetable?query=¿Cuando se considera que el bebé tiene sobre peso&amp;language=es&amp;version=9.3" >¿Cuando se considera que el bebé tiene sobre peso</a></li>
                    <li><a href="passagetable?query=¿Cual es el peso medio para los bebés en el momento del nacimiento?&amp;language=es&amp;version=9.3">¿Cual es el peso medio para los bebés en el momento del nacimiento?</a></li>
                    Question 7
                    <li><a href="passagetable?query=¿Qué es lo que puedo hacer si no me es posible darle el pecho a mi bebé?&amp;language=es&amp;version=9.3">¿Qué es lo que puedo hacer si no me es posible darle el pecho a mi bebé?</a></li>
                    <li><a href="passagetable?query=¿Qué es lo que puedo hacer si no me es posible amamntar a mi bebé?&amp;language=es&amp;version=9.3">¿Qué es lo que puedo hacer si no me es posible amamntar a mi bebé?</a></li>
                    <li><a href="passagetable?query=¿Qué pasa si no es posible darle el pecho?&amp;language=es&amp;version=9.3">¿Qué pasa si no es posible darle el pecho?</a></li>
                    <li><a href="passagetable?query=¿Qué derbería hacer si no es posible amamantar al bebé?&amp;language=es&amp;version=9.3">¿Qué derbería hacer si no es posible amamantar al bebé?</a></li>
                    <li><a href="passagetable?query=Y, ¿Qué pasa si no puedo dar el pecho?&amp;language=es&amp;version=9.3">Y, ¿Qué pasa si no puedo dar el pecho?</a></li>
                    <li><a href="passagetable?query=¿Qué puedo hacer si no puedo dar el pecho?&amp;language=es&amp;version=9.3">¿Qué puedo hacer si no puedo dar el pecho?</a></li>
                    Question 8
                    <li><a href="passagetable?query=¿Cada cuando y durante cuánto tiempo debería dar el pecho a mi bebé?&amp;language=es&amp;version=9.3">¿Cada cuando y durante cuánto tiempo debería dar el pecho a mi bebé?</a></li>
                    <li><a href="passagetable?query=¿Tendría que amamantar a mi bebé siempre que me lo pida?&amp;language=es&amp;version=9.3">¿Tendría que amamantar a mi bebé siempre que me lo pida?</a></li>
                    <li><a href="passagetable?query=¿Tendría que darle el pecho a mi bebé siempre que me lo pida?&amp;language=es&amp;version=9.3" >¿Tendría que darle el pecho a mi bebé siempre que me lo pida?</a></li>
                    <li><a href="passagetable?query=¿Tendría que amamantar a mi bebé cada vez que lo pida?&amp;language=es&amp;version=9.3">¿Tendría que amamantar a mi bebé cada vez que lo pida?</a></li>
                    <li><a href="passagetable?query=¿Tendría que darle el pecho a mi bebé cada vez que lo pida?&amp;language=es&amp;version=9.3">¿Tendría que darle el pecho a mi bebé cada vez que lo pida?</a></li>
                    <li><a href="passagetable?query=¿Qué pasa si el bebé está llorando y quiere que le dé el pecho?&amp;language=es&amp;version=9.3" >¿Qué pasa si el bebé está llorando y quiere que le dé el pecho?</a></li>
                    <li><a href="passagetable?query=¿Como se regula la producción de leche durante la lactancia?&amp;language=es&amp;version=9.3">¿Como se regula la producción de leche durante la lactancia?</a></li>
                    <li><a href="passagetable?query=¿Cómo funciona la producción de leche durante la lactancia?&amp;language=es&amp;version=9.3">¿Cómo funciona la producción de leche durante la lactancia?</a></li>
                    Question 9
                    <li><a href="passagetable?query=¿Qué es una vacuna y cuando se tiene que administrar?&amp;language=es&amp;version=9.3">¿Qué es una vacuna y cuando se tiene que administrar?</a></li>
                    <li><a href="passagetable?query=¿Qué es una vacuna y cuando hay que adminsitrarla?&amp;language=es&amp;version=9.3">¿Qué es una vacuna y cuando hay que adminsitrarla?</a></li>
                    <li><a href="passagetable?query=¿Qué son las vacunas?&amp;language=es&amp;version=9.3">¿Qué son las vacunas?</a></li>
                    Question 10
                    <li><a href="passagetable?query=Me gustaría saber algo más sobre la eficacia y la seguridad de las vacunas....&amp;language=es&amp;version=9.3">Me gustaría saber algo más sobre la eficacia y la seguridad de las vacunas....</a></li>
                    <li><a href="passagetable?query= eficacia y seguridad vacunal la prevención&amp;language=es&amp;version=9.3" >eficacia y seguridad vacunal la prevención</a></li>
                    Question 11
                    <li><a href="passagetable?query=¿Existen contraindicaciones acerca de las vacunas?&amp;language=es&amp;version=9.3" >¿Existen contraindicaciones acerca de las vacunas?</a></li>
                    <li><a href="passagetable?query=¿Existen precauciones acerca de las vacunas?&amp;language=es&amp;version=9.3" >¿Existen precauciones acerca de las vacunas?</a></li>
                    <li><a href="passagetable?query=¿Existen contraindicaciones acerca de la vacunación?&amp;language=es&amp;version=9.3">¿Existen contraindicaciones acerca de la vacunación?</a></li>
                    <li><a href="passagetable?query=¿Existen precauciones acerca de la vacunación?&amp;language=es&amp;version=9.3">¿Existen precauciones acerca de la vacunación?</a></li>
                    Question 12
                    <li><a href="passagetable?query=¿Cuáles son las vacunas más comúnmente empleadas en nuestro país?&amp;language=es&amp;version=9.3" >¿Cuáles son las vacunas más comúnmente empleadas en nuestro país?</a></li>
                    <li><a href="passagetable?query=¿Cual son las vacunas mas comunes?&amp;language=es&amp;version=9.3">¿Cual son las vacunas mas comunes?</a></li>
                    Question 13
                    <li><a href="passagetable?query=¿Las vacunas pueden prevenir de enfermedades infecciosas?&amp;language=es&amp;version=9.3" >¿Las vacunas pueden prevenir de enfermedades infecciosas?</a></li>
                    <li><a href="passagetable?query=¿Las vacunas pueden proteger de enfermedades infecciosas?&amp;language=es&amp;version=9.3" >¿Las vacunas pueden proteger de enfermedades infecciosas?</a></li>
                    Question 14
                    <li><a href="passagetable?query=¿Cuáles son los motivos fundamentales para vacunarse?&amp;language=es&amp;version=9.3" >¿Cuáles son los motivos fundamentales para vacunarse?</a></li>
                    <li><a href="passagetable?query=¿Cuáles son los motivos fundamentales para estar vacunado?&amp;language=es&amp;version=9.3" >¿Cuáles son los motivos fundamentales para estar vacunado?</a></li>
                    Question 15
                    <li><a href="passagetable?query=¿Las vacunas son gratuitas?&amp;language=es&amp;version=9.3" >¿Las vacunas son gratuitas?</a></li>
                    <li><a href="passagetable?query=¿Tengo que pagar para las vacunas?&amp;language=es&amp;version=9.3" >¿Tengo que pagar para las vacunas?</a></li>
                    <li><a href="passagetable?query=¿Tengo que pagar para la vacunación?&amp;language=es&amp;version=9.3">¿Tengo que pagar para la vacunación?</a></li>
                    Question 16
                    <li><a href="passagetable?query=¿Las vacunas pueden provocar efectos secundarios?&amp;language=es&amp;version=9.3" >¿Las vacunas pueden provocar efectos secundarios?</a></li>
                    <li><a href="passagetable?query=¿Las vacunas pueden desencadenar reacciones serias?&amp;language=es&amp;version=9.3">¿Las vacunas pueden desencadenar reacciones serias?</a></li>
                    <li><a href="passagetable?query=¿Las vacunas pueden desencadenar algunas reacciones?&amp;language=es&amp;version=9.3" >¿Las vacunas pueden desencadenar algunas reacciones?</a></li>
                    <li><a href="passagetable?query=¿Las vacunas pueden desencadenar algunos efectos secundarios?&amp;language=es&amp;version=9.3">¿Las vacunas pueden desencadenar algunos efectos secundarios?</a></li>
                    Question 17
                    <li><a href="passagetable?query=¿Qué puedo hacer si el bebé manifiesta una seria reacción a la vacuna?&amp;language=es&amp;version=9.3">¿Qué puedo hacer si el bebé manifiesta una seria reacción a la vacuna?</a></li>
                    <li><a href="passagetable?query=¿Qué tendré que hacer en caso de que experimente reacciones después de las vacunas?&amp;language=es&amp;version=9.3">¿Qué tendré que hacer en caso de que experimente reacciones después de las vacunas?</a></li>
                    <li><a href="passagetable?query=¿Que tendré que hacer en caso de efectos secundarios?&amp;language=es&amp;version=9.3">¿Que tendré que hacer en caso de efectos secundarios?</a></li>
                    <li><a href="passagetable?query=¿Que tendré que hacer en caso de una reacción inflamatoria?&amp;language=es&amp;version=9.3">¿Que tendré que hacer en caso de una reacción inflamatoria?</a></li>
                    Question 18
                    <li><a href="passagetable?query=Quiero salir a dar un paseo con mi bebé. ¿Cómo puedo protegerle/la?&amp;language=es&amp;version=9.3">Quiero salir a dar un paseo con mi bebé. ¿Cómo puedo protegerle/la?</a></li>
                    <li><a href="passagetable?query=Me gustaría salir a dar un paseo con mi bebé. ¿Cómo puedo protegerle/la?&amp;language=es&amp;version=9.3">Me gustaría salir a dar un paseo con mi bebé. ¿Cómo puedo protegerle/la?</a></li>
                    <li><a href="passagetable?query=¿Es seguro salir a dar un paseo aunque haga calor hoy? ¿Es necesario tomar alguna precaución especial?&amp;language=es&amp;version=9.3">¿Es seguro salir a dar un paseo aunque haga calor hoy? ¿Es necesario tomar alguna precaución especial?</a></li>
                    Question 19
                    <li><a href="passagetable?query=¿Cuándo debería llevar a hacerle una revisión por primera vez?&amp;language=es&amp;version=9.3">¿Cuándo debería llevar a hacerle una revisión por primera vez?</a></li>
                    Question 20
                    <li><a href="passagetable?query=¿Cuando recibiré los resultados de la primera revisión del niño?&amp;language=es&amp;version=9.3">¿Cuando recibiré los resultados de la primera revisión del niño?</a></li>
                    <li><a href="passagetable?query=¿Cuando llegarán a casa los resultados de la primera revisión del niño?&amp;language=es&amp;version=9.3">¿Cuando llegarán a casa los resultados de la primera revisión del niño?</a></li>
                    <li><a href="passagetable?query=¿Cuanto tiempo tardarán en llegar los resultados de las revisiones recomendadas para mi bebé, según su edad?&amp;language=es&amp;version=9.3">¿Cuanto tiempo tardarán en llegar los resultados de las revisiones recomendadas para mi bebé, según su edad?</a></li>
                    Question 21
                    <li><a href="passagetable?query=Me duele la espalda. Cual son las causas principales del dolor de espalda?&amp;language=es&amp;version=9.3" >Me duele la espalda. Cual son las causas principales del dolor de espalda?</a></li>
                    <li><a href="passagetable?query=Tengo un dolor en mi espalda. Cual son las causas principales del dolor de espalda?&amp;language=es&amp;version=9.3" >Tengo un dolor en mi espalda. Cual son las causas principales del dolor de espalda?</a></li>
                    Question 22
                    <li><a href="passagetable?query=Me duele la espalda. ¿existe alguna relación entre mi trabajo y el dolor de espalda?&amp;language=es&amp;version=9.3" >Me duele la espalda. ¿existe alguna relación entre mi trabajo y el dolor de espalda?</a></li>
                    <li><a href="passagetable?query=Tengo un dolor en mi espalda. ¿existe alguna relación entre mi trabajo y el dolor de espalda?&amp;language=es&amp;version=9.3" >Tengo un dolor en mi espalda. ¿existe alguna relación entre mi trabajo y el dolor de espalda?</a></li>
                    Question 23
                    <li><a href="passagetable?query=¿Qué se recomienda cuando una persona tiene dolor de espalda?&amp;language=es&amp;version=9.3" >¿Qué se recomienda cuando una persona tiene dolor de espalda?</a></li>
                    <li><a href="passagetable?query=¿Qué es lo que me podría ayudarme para poder dormir mejor? ¿El colchón debe ser blando o duro?&amp;language=es&amp;version=9.3" >¿Qué es lo que me podría ayudarme para poder dormir mejor? ¿El colchón debe ser blando o duro?</a></li>
                    Question 24
                    <li><a href="passagetable?query=Me duele la espalda. ¿Podrías, por favor darme más información sobre la ciatica?&amp;language=es&amp;version=9.3" >Me duele la espalda. ¿Podrías, por favor darme más información sobre la ciatica?</a></li>
                    <li><a href="passagetable?query=Tengo un dolor de espalda. ¿Podrías, por favor darme más información sobre la ciatica?&amp;language=es&amp;version=9.3" >Tengo un dolor de espalda. ¿Podrías, por favor darme más información sobre la ciatica?</a></li>
                    Question 25
                    <li><a href="passagetable?query=¿Cuando debería hablar con mi médico de familia sobre mi dolor de espalda?&amp;language=es&amp;version=9.3" >¿Cuando debería hablar con mi médico de familia sobre mi dolor de espalda?</a></li>
                    Question 26
                    <li><a href="passagetable?query=¿Quién tengo que contactar en caso de emergencia?&amp;language=es&amp;version=9.3">¿Quién tengo que contactar en caso de emergencia?</a></li>
                    <li><a href="passagetable?query=¿A quien tengo que llamar en caso de emergencia?&amp;language=es&amp;version=9.3" >¿A quien tengo que llamar en caso de emergencia?</a></li>
                    <li><a href="passagetable?query=¿Existen algunos numeros de emergencia?&amp;language=es&amp;version=9.3" >¿Existen algunos numeros de emergencia?</a></li>
                    <li><a href="passagetable?query=¿Cual son los numeros de telefono que tengo que llamar en caso de emergencia?&amp;language=es&amp;version=9.3">¿Cual son los numeros de telefono que tengo que llamar en caso de emergencia?</a></li>
                </ul>

                <h3>Or select a query from the following list (German):</h3>
                <h4>UC1:</h4>
                <ul >
                    Question 1
                    <li><a href="passagetable?query=Kannst du mir mehr Information über Demenz?&amp;language=de&amp;version=9.3" >Kannst du mir mehr Information über Demenz?</a></li>
                    <li><a href="passagetable?query=Bei meinem Vater wurde Demenz diagnostiziert. Ich würde gerne mehr Information über diese Krankheit geben?&amp;language=de&amp;version=9.3">Bei meinem Vater wurde Demenz diagnostiziert. Ich würde gerne mehr Information über diese Krankheit geben?</a></li>
                    Question 2
                    <li><a href="passagetable?query=Wie unterscheiden sich die Gedächtnisstörungen, die bei Alzheimer Demenz auftreten, von der normalen Vergesslichkeit.&amp;language=de&amp;version=9.3" >Wie unterscheiden sich die Gedächtnisstörungen, die bei Alzheimer Demenz auftreten, von der normalen Vergesslichkeit.</a></li>
                    <li><a href="passagetable?query=Was ist der Unterschied zwischen Vergesslichkeit und Gedächtnisstörungen .&amp;language=de&amp;version=9.3">Was ist der Unterschied zwischen Vergesslichkeit und Gedächtnisstörungen .</a></li>
                    <li><a href="passagetable?query=Was ist der Unterschied zwischen Vergesslichkeit und Alzheimer Demenz.&amp;language=de&amp;version=9.3" >Was ist der Unterschied zwischen Vergesslichkeit und Alzheimer Demenz.</a></li>
                    Question 3
                    <li><a href="passagetable?query=Kannst du mir etwas über Anzeichen und Symptome bei Demenz sagen?&amp;language=de&amp;version=9.3" >Kannst du mir etwas über Anzeichen und Symptome bei Demenz sagen?</a></li>
                    <li><a href="passagetable?query=Was sind die üblichen Anzeichen und Symptome bei Demenz?&amp;language=de&amp;version=9.3">Was sind die üblichen Anzeichen und Symptome bei Demenz?</a></li>
                    Question 4
                    <li><a href="passagetable?query=Gibt es für Demenz eine Behandlung? Ist Alzheimer heilbar?&amp;language=de&amp;version=9.3" >Gibt es für Demenz eine Behandlung? Ist Alzheimer heilbar?</a></li>
                    <li><a href="passagetable?query=Gibt es für Demenz eine Therapie? Ist Alzheimer heilbar?&amp;language=de&amp;version=9.3" >Gibt es für Demenz eine Therapie? Ist Alzheimer heilbar?</a></li>
                    <li><a href="passagetable?query=Welche therapeutischen Möglichkeiten gibt es?&amp;language=de&amp;version=9.3">Welche therapeutischen Möglichkeiten gibt es?</a></li>
                    Question 5
                    <li><a href="passagetable?query=Gibt es praktische Tipps für Kommunikation mit Demenzkranken?&amp;language=de&amp;version=9.3" >Gibt es praktische Tipps für Kommunikation mit Demenzkranken?</a></li>
                    <li><a href="passagetable?query=Gibt es praktische Regeln für Kommunikation mit Demenzkranken?&amp;language=de&amp;version=9.3">Gibt es praktische Regeln für Kommunikation mit Demenzkranken?</a></li>
                    <li><a href="passagetable?query=Gibt es praktische Hinweise für Kommunikation mit Demenzkranken?&amp;language=de&amp;version=9.3" >Gibt es praktische Hinweise für Kommunikation mit Demenzkranken?</a></li>
                    Question 6
                    <li><a href="passagetable?query=Kannst du mir mehr Information über Diabetes geben?&amp;language=de&amp;version=9.3">Kannst du mir mehr Information über Diabetes geben?</a></li>
                    Question 7
                    <li><a href="passagetable?query=Was sind die Hauptunterschiede zwischen der Ernährung für Diabetiker und Nichtdiabetiker?&amp;language=de&amp;version=9.3">Was sind die Hauptunterschiede zwischen der Ernährung für Diabetiker und Nichtdiabetiker?</a></li>
                    <li><a href="passagetable?query=Was sind die Hauptunterschiede zwischen der Diät für Diabetiker und Nichtdiabetiker?&amp;language=de&amp;version=9.3">Was sind die Hauptunterschiede zwischen der Diät für Diabetiker und Nichtdiabetiker?</a></li>
                    <li><a href="passagetable?query=Gibt es verschiedene Ernährungsempfehlungen für Diabetiker und Nichtdiabetiker?&amp;language=de&amp;version=9.3" >Gibt es verschiedene Ernährungsempfehlungen für Diabetiker und Nichtdiabetiker?</a></li>
                    <li><a href="passagetable?query=Gibt es unterschiedliche Ernährungsempfehlungen für Diabetiker und Nichtdiabetiker?&amp;language=de&amp;version=9.3" >Gibt es unterschiedliche Ernährungsempfehlungen für Diabetiker und Nichtdiabetiker?</a></li>
                    <li><a href="passagetable?query=Wie unterscheidet sich die Diät eines Diabetikers von der einer gesunden Person?&amp;language=de&amp;version=9.3">Wie unterscheidet sich die Diät eines Diabetikers von der einer gesunden Person?"</a></li>
                    <li><a href="passagetable?query=Wie unterscheidet sich die Ernährung eines Diabetikers von der einer gesunden Person?&amp;language=de&amp;version=9.3">Wie unterscheidet sich die Ernährung eines Diabetikers von der einer gesunden Person?"</a></li>
                    Question 8
                    <li><a href="passagetable?query=Wie steht es mit der Mahlzeiteinteilung bei Diabetes Typ 2?&amp;language=de&amp;version=9.3">Wie steht es mit der Mahlzeiteinteilung bei Diabetes Typ 2?</a></li>
                    <li><a href="passagetable?query=Wie steht es mit den Zeiten der Mahlzeiten bei Diabetes Typ 2?&amp;language=de&amp;version=9.3" >Wie steht es mit den Zeiten der Mahlzeiten bei Diabetes Typ 2?</a></li>
                    Question 9
                    <li><a href="passagetable?query=Welche kohlenhydratreiche Lebensmittel werden für die Diabetikerernährung empfohlen?&amp;language=de&amp;version=9.3" >Welche kohlenhydratreiche Lebensmittel werden für die Diabetikerernährung empfohlen?</a></li>
                    <li><a href="passagetable?query=Sollten kohlenhydratreiche Lebensmittel aus dem Ernährungplan für Diabetiker ausgeschlossen werden?&amp;language=de&amp;version=9.3">Sollten kohlenhydratreiche Lebensmittel aus dem Ernährungplan für Diabetiker ausgeschlossen werden?</a></li>
                    <li><a href="passagetable?query=Sollten kohlenhydratreiche Lebensmittel aus der Nahrung für Diabetiker ausgeschlossen werden?&amp;language=de&amp;version=9.3">Sollten kohlenhydratreiche Lebensmittel aus der Nahrung für Diabetiker ausgeschlossen werden?</a></li>
                    <li><a href="passagetable?query=Sollte auf Kohlenhydrate verzichtet werden?&amp;language=de&amp;version=9.3">Sollte auf Kohlenhydrate verzichtet werden?</a></li>
                    <li><a href="passagetable?query=Können Kohlenhydrate in der Nahrung der Diabetiker vorkommen?&amp;language=de&amp;version=9.3">Können Kohlenhydrate in der Nahrung der Diabetiker vorkommen?</a></li>
                    <li><a href="passagetable?query=Können Kohlenhydrate in der Kost der Diabetiker vorkommen?&amp;language=de&amp;version=9.3">Können Kohlenhydrate in der Kost der Diabetiker vorkommen?</a></li>
                    <li><a href="passagetable?query=Kann die Nahrung der Diabetiker Kohlenhydrate enthalten?&amp;language=de&amp;version=9.3" >Kann die Nahrung der Diabetiker Kohlenhydrate enthalten?</a></li>
                    Question 10
                    <li><a href="passagetable?query=Ich hätte gerne ein paar gesunde Rezepte für Diabetes Typ 2&amp;language=de&amp;version=9.3">Ich hätte gerne ein paar gesunde Rezepte für Diabetes Typ 2</a></li>
                    <li><a href="passagetable?query=Kannst du mir ein paar Rezepte für Diabetes Typ 2 zeigen?&amp;language=de&amp;version=9.3">Kannst du mir ein paar Rezepte für Diabetes Typ 2 zeigen?</a></li>
                    Question 11
                    <li><a href="passagetable?query=Kannst du mir ein paar Tipps zur Schlafhygiene geben&amp;language=de&amp;version=9.3">Kannst du mir ein paar Tipps zur Schlafhygiene geben</a></li>
                    <li><a href="passagetable?query=Kannst du mir ein paar Regeln zur Schlafhygiene geben&amp;language=de&amp;version=9.3">Kannst du mir ein paar Regeln zur Schlafhygiene geben</a></li>
                    <li><a href="passagetable?query=Gibt es Tipps (eine Anleitung) zur Schlafhygiene?&amp;language=de&amp;version=9.3">Gibt es Tipps (eine Anleitung) zur Schlafhygiene?</a></li>
                    <li><a href="passagetable?query=Gibt es Regeln (eine Anleitung) zur Schlafhygiene?&amp;language=de&amp;version=9.3">Gibt es Regeln (eine Anleitung) zur Schlafhygiene?</a></li>
                    <li><a href="passagetable?query=Gibt es Tipps für einen besseren Schlaf?&amp;language=de&amp;version=9.3" >Gibt es Tipps für einen besseren Schlaf?</a></li>
                    <li><a href="passagetable?query=Gibt es Tipps für einen gesunden Schlaf?&amp;language=de&amp;version=9.3">Gibt es Tipps für einen gesunden Schlaf?</a></li>
                    <li><a href="passagetable?query=Gibt es Regeln für einen besseren Schlaf?&amp;language=de&amp;version=9.3">Gibt es Regeln für einen besseren Schlaf?</a></li>
                    <li><a href="passagetable?query=Gibt es Regeln für einen gesunden Schlaf?&amp;language=de&amp;version=9.3" >Gibt es Regeln für einen gesunden Schlaf?</a></li>
                </ul>

                <h3>Or type a query in the following text box:</h3>
                <form>
                    Text:
                    <input type='text' size="35" name="querybox" />
                    <p/>
                    Language:
                    <select name="lang">
                        <option value="en">English</option>
                        <option selected="selected" value="es">Spanish</option>
                        <option value="es_short">Spanish (short)</option>
                        <option value="de">German</option>
                    </select>
                    <p/>
                    Version:
                    <select name="indexVersion">
                        <option value="0.0">0.0</option>
                        <option value="1.0">1.0</option>
                        <option value="2.0">2.0</option>
                        <option value="2.1">2.1</option>
                        <option value="3.0">3.0</option>
                        <option value="4.1">4.1</option>
                        <option value="4.2">4.2</option>
                        <option value="4.3">4.3</option>
                        <option value="5.1">5.1</option>
                        <option value="5.2">5.2</option>
                        <option value="6.1">6.1</option>
                        <option value="6.2">6.2</option>
                        <option value="6.3">6.3</option>
                        <option value="6.4">6.4</option>
                        <option value="7.0">7.0</option>
                        <option value="7.1">7.1</option>
                        <option value="7.2">7.2</option>
                        <option value="7.3">7.3</option>
                        <option value="7.4">7.4</option>
                        <option value="8.0">8.0</option>
                        <option value="8.1">8.1</option>
                        <option value="8.2">8.2</option>
                        <option value="8.3">8.3</option>
                        <option value="8.4">8.4</option>
                        <option value="9.0">9.0</option>
                        <option value="9.1">9.1</option>
                        <option value="9.2">9.2</option>
                        <option selected="selected" value="9.3">9.3</option>
                        <option value="9.4">9.4</option>
                    </select>
                    Query expansion:
                    <select name="queryExpansion">
                        <option value="false">false</option>
                        <option selected="selected" value="true">true</option>
                    </select>

                    <p/>
                    <input type='button' value="Submit" onclick="location.href='passagetable?query=' + this.form.querybox.value
                    + '&amp;language=' + this.form.lang.value + '&amp;version=' + this.form.indexVersion.value + '&amp;queryExpansion=' + this.form.queryExpansion.value"  />
                </form>
            </div>
        </div>


    </div>


</div>


<footer class="footer">
    <div class="container">
        <p>WebKIndex developed @ <a href="http://www.iti.gr">ITI</a> / <a href="http://www.certh.gr">CERTH </a></p>
        <p> Contact: <a href="mailto:spyridons@iti.gr">spyridons@iti.gr</a></p>
    </div>
</footer>
</body>
</html>