[
  { "id" : "701", "text" : "701 - describe history oil industry"},
  { "id" : "702", "text" : "702 - pearl farming operations actual farming operations described culturing pearls japanese pearl productions status pearl farming production"},
  { "id" : "704", "text" : "704 - goals political views green party"},
  { "id" : "705", "text" : "705 - identify efforts proposed undertaken world governments seek reduction iraqs foreign debt"},
  { "id" : "706", "text" : "706 - methods control type ii diabetes"},
  { "id" : "707", "text" : "707 - evidence aspirin help prevent cancer"},
  { "id" : "708", "text" : "708 - sources slate stone decorative"},
  { "id" : "709", "text" : "709 - limits regulations concerning jockey weight horse racing"},
  { "id" : "711", "text" : "711 - security measures employed train stations due heightened security concerns"},
  { "id" : "712", "text" : "712 - actual examples pyramid schemes"},
  { "id" : "713", "text" : "713 - state maryland clean chesapeake bay"},
  { "id" : "714", "text" : "714 - restrictions placed older persons renewing drivers licenses"},
  { "id" : "715", "text" : "715 - organizations private governmental developing drugs combat schizophrenia"},
  { "id" : "716", "text" : "716 - spammers arrested sued sending unsolicited e mail"},
  { "id" : "722", "text" : "722 - ways iran support terrorism"},
  { "id" : "723", "text" : "723 - governments definition executive privilege"},
  { "id" : "724", "text" : "724 - iran contra scandal consequences"},
  { "id" : "725", "text" : "725 - cause lowered white blood cell count"},
  { "id" : "727", "text" : "727 - identify specific instances church arson"},
  { "id" : "729", "text" : "729 - revelations whistle blowers concerning department defense"},
  { "id" : "730", "text" : "730 - possible complications potential dangers gastric bypass surgery"},
  { "id" : "733", "text" : "733 - regulations regarding airline overbooking"},
  { "id" : "735", "text" : "735 - condition afghan women better new government taliban"},
  { "id" : "737", "text" : "737 - allegations made enrons culpability california energy crisis"},
  { "id" : "738", "text" : "738 - examples anthrax hoaxes"},
  { "id" : "739", "text" : "739 - organization habitat humanity activities involved"},
  { "id" : "740", "text" : "740 - regulates assisted living facilities maryland"},
  { "id" : "741", "text" : "741 - artificial intelligence"},
  { "id" : "743", "text" : "743 - regulations considerations concerning registering freighter country"},
  { "id" : "745", "text" : "745 - identify doomsday cult name location world"},
  { "id" : "746", "text" : "746 - jobs outsourced india"},
  { "id" : "747", "text" : "747 - control oversight computer public libraries"},
  { "id" : "749", "text" : "749 - people puerto rico state"},
  { "id" : "750", "text" : "750 - senator john edwards positions womens issues pay equity abortion title ix violence women"},
  { "id" : "751", "text" : "751 - give information scrabble players scrabble played popular"},
  { "id" : "752", "text" : "752 - dams removed environmental impact"},
  { "id" : "753", "text" : "753 - programs schools prevent bullying students"},
  { "id" : "755", "text" : "755 - history location scottish highland games united states"},
  { "id" : "757", "text" : "757 - show examples murals"},
  { "id" : "760", "text" : "760 - statistics regarding american muslims mosques schools"},
  { "id" : "761", "text" : "761 - describe problems faced hmong immigrants united states"},
  { "id" : "763", "text" : "763 - give information human deaths associated hunting game"},
  { "id" : "770", "text" : "770 - state kyrgyzstan united states relations"},
  { "id" : "771", "text" : "771 - deformities found leopard frogs"},
  { "id" : "772", "text" : "772 - rules guidelines display united states flag"},
  { "id" : "776", "text" : "776 - magnet schools considered successful districts created"},
  { "id" : "782", "text" : "782 - varieties oranges season"},
  { "id" : "792", "text" : "792 - social security means test"},
  { "id" : "794", "text" : "794 - pets animals therapy humans benefits"},
  { "id" : "795", "text" : "795 - reference notable cockers spaniels"},
  { "id" : "798", "text" : "798 - history development locations textile mills massachusetts"},
  { "id" : "801", "text" : "801 - describe origin nature extent spread means controlling kudzu"},
  { "id" : "802", "text" : "802 - impact volcano eruptions global temperature"},
  { "id" : "804", "text" : "804 - describe resolutions proposed legislation passed ban cloning humans rationale bans"},
  { "id" : "806", "text" : "806 - doctors borders medecins sans frontieres"},
  { "id" : "808", "text" : "808 - information available involvement north korean government counterfeiting currency"},
  { "id" : "810", "text" : "810 - information regarding timeshare resales"},
  { "id" : "811", "text" : "811 - state recognizing handwritten inputs computers"},
  { "id" : "812", "text" : "812 - conditions lead doctors recommend total knee replacement surgery complications result surgery"},
  { "id" : "816", "text" : "816 - describe efforts made usaid protect biodiversity galapagos islands ecuador"},
  { "id" : "817", "text" : "817 - naming rights sports stadiums acquired"},
  { "id" : "818", "text" : "818 - known culture history chaco people features chaco culture national historic park"},
  { "id" : "820", "text" : "820 - imported fire ants controlled"},
  { "id" : "821", "text" : "821 - describe work home scams promoted internet"},
  { "id" : "822", "text" : "822 - give history battle big horn june 25 26 1876 referred custers stand"},
  { "id" : "824", "text" : "824 - current role civil air patrol training participants receive"},
  { "id" : "825", "text" : "825 - describe deployment national guard units iraq"},
  { "id" : "826", "text" : "826 - relationship seminole indians florida"},
  { "id" : "829", "text" : "829 - information kinds material international support provided side spanish civil war"},
  { "id" : "830", "text" : "830 - locate past present model railroad layouts"},
  { "id" : "831", "text" : "831 - describe security measures dulles international airport virginia"},
  { "id" : "834", "text" : "834 - global positioning system gps research monitoring earthquakes"},
  { "id" : "835", "text" : "835 - bostons central artery project known big dig characterized pork"},
  { "id" : "836", "text" : "836 - level wages paid illegal immigrants"},
  { "id" : "837", "text" : "837 - information pre 1500 history eskimo inuit people"},
  { "id" : "838", "text" : "838 - humans responded respond appearance coyotes urban suburban areas"},
  { "id" : "841", "text" : "841 - information camels north america prehistoric modern times"},
  { "id" : "843", "text" : "843 - pol pot did"},
  { "id" : "846", "text" : "846 - describe evidence heredity play role obesity"},
  { "id" : "847", "text" : "847 - role portugal world war ii"},
  { "id" : "849", "text" : "849 - scalable vector graphics"},
  { "id" : "850", "text" : "850 - frequently mississippi river flood banks"}
 ]
